# FYP Conversion Script
# 17198046-Paul Murphy

## Import modules Needed

We first import the modules neccessary for the script:
- pandas is a standard library for data manipulation
- sqlite3 is used to connect to the database file
- matplotlib is used to graph data
- ipwidgets is a library used to for the date time picker
- all other imports are standard

In [1]:
import pandas as pd
import sqlite3
import os
import matplotlib.pyplot as plt
import ipywidgets as widgets
import datetime as dt
import time
%matplotlib inline

Connect to the table you wish to add a date column to

In [2]:
df = pd.read_csv('ExerciseTrackPointDbEntity.csv')

In [3]:
df.head()

,Calories,CumulativeElevationGain,Date,Distance,Duration,Elevation,ExerciseLocalId,ExerciseServerId,HorizontalAccuracy,Interpolated,...,Speed,Steps,VerticalAccuracy,EntityStatus,LastOperationUuid,ServerId,TimeCreated,TimeUpdated,Uuid,Id
0,0,0.0,637392289700000000,0.00000,0,50.209600,4,35218252741,0.4,1,...,0.000,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637452752329687701,637452752329687701,001192d3-17fa-4ce7-ae9a-3ad27d2c07eb,1
1,0,0.0,637392289750000000,0.00000,5000,49.871330,4,35218252741,0.4,1,...,0.000,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637452752329687701,637452752329687701,609f20d9-ff4c-47e3-948d-28d006231138,2
2,0,0.0,637392289790000000,0.00078,9000,49.600716,4,35218252741,0.4,0,...,0.702,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637452752329687701,637452752329687701,ef603774-4236-4103-867f-1b8429abe3e9,3
3,0,0.0,637392289800000000,0.00160,10000,49.599846,4,35218252741,0.4,0,...,1.152,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637452752329687701,637452752329687701,c6509b93-9e33-4eb9-9a2e-da93b117e22f,4
4,0,0.0,637392289810000000,0.00273,11000,49.724040,4,35218252741,0.4,0,...,3.510,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637452752329687701,637452752329687701,46898cb3-9dae-4e0f-9966-03754626c7ec,5

We see how `Date` is 18 digits long. Need to convert to Datetime

## Useful Methods
- From the research paper we identified the databse to have 18 digit long timestamps as table entries in the database
- This is c# ticks and needs to be converted to datetime
- Below we will identifiy a few methods that will be used conversions

time_calculator takes an tick value as input and outputs epoch time

In [4]:
def time_calculator(time_in_ticks):
  starts = dt.datetime(1,1,1,0,0,0)
  # # time_in_ticks = (dt.datetime.utcnow()- start).total_seconds()*10000000
  # time_in_ticks = (database_tick_time.utcnow()- start).total_seconds()*10000000
  end = dt.datetime(1970,1,1,0,0,0)
  time_until_epoch = ((end-starts).total_seconds()*10000000)
  epoch_time=time_in_ticks-time_until_epoch
  epoch_time=epoch_time/10000000
  return epoch_time

Here we add a convertedDate column to csv in the form of a .
We then convert this epoch time to Date time

In [5]:
df['convertedDate'] = time_calculator(df['Date'])
df['convertedDate'] = pd.to_datetime(df['convertedDate'], unit='s')

Explore new data, notice new column called Converted Date at the end

In [6]:
df.tail()

,Calories,CumulativeElevationGain,Date,Distance,Duration,Elevation,ExerciseLocalId,ExerciseServerId,HorizontalAccuracy,Interpolated,...,Steps,VerticalAccuracy,EntityStatus,LastOperationUuid,ServerId,TimeCreated,TimeUpdated,Uuid,Id,convertedDate
968,0,0.0,637460669300000000,0.01076,21000,46.472700,41,36834017871,1.6,0,...,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637462368717824327,637462368717824327,3c440c79-ee6b-4f9c-8519-7f975c112f1f,969,2021-01-12 16:48:50
969,0,0.0,637460669310000000,0.01182,22000,46.502490,41,36834017871,1.6,0,...,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637462368717824327,637462368717824327,679baa34-49fb-41ea-9c1f-74f7d8114d7f,970,2021-01-12 16:48:51
970,0,0.0,637460669320000000,0.01300,23000,46.480076,41,36834017871,1.6,0,...,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637462368717824327,637462368717824327,3412bbd7-3c45-455d-8f5d-b6bd4538cdb3,971,2021-01-12 16:48:52
971,0,0.0,637460669330000000,0.01432,24000,46.506970,41,36834017871,1.6,1,...,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637462368717824327,637462368717824327,b10c5f71-5ef4-4f80-a541-12f1482b516e,972,2021-01-12 16:48:53
972,0,0.0,637460669360000000,0.01432,24000,46.639103,41,36834017871,1.6,1,...,0,0.0,0,00000000-0000-0000-0000-000000000000,0,637462368717824327,637462368717824327,007504d2-470b-4709-8474-5b2127806cf1,973,2021-01-12 16:48:56

Save to new CSV file

In [7]:
df.to_csv('PreparedExerciseTrackPointDbEntity.csv')